body {
    margin: 0;
    padding: 0;
    background: #f4f6f8;
    font-family: Arial, sans-serif;

/* CENTER ALIGN FIX */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

.form-box {
    width: 360px;
    margin: 100px auto;
    background: white;
    padding: 30px 35px;   /* left-right equal space */
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    box-sizing: border-box;
}


.form-box h2 {
    text-align: center;
}

.form-box input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    display: block;
    box-sizing: border-box;
}

.form-box button {
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* DASHBOARD */
.dashboard-box {
    width: 90%;
    max-width: 900px;
    margin: 80px auto;
    text-align: center;
}

.dashboard-box h2 {
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background: white;
    width: 500px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    text-align: center;
}

.card:hover {
    transform: translateY(-8px);
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #555;
}

.card a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: green;
    color: white;
    border-radius: 5px;
}

.logout-btn {
    background: red !important;
}

/* QUIZ */
.quiz-box {
    width: 500px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.quiz-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.question-box {
    margin-bottom: 20px;
}

.question-box p {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}
